@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nunito:regular,500,600,900&display=swap);
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  color: #094067;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 28px;
}

a {
  font-size: 18px;
  color: #5F6C7B;
  text-decoration: none;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}
a:hover {
  color: #EBA83A;
}

p {
  font-size: 18px;
  color: #5F6C7B;
  font-family: "Nunito", sans-serif;
}

img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

header, main, section, footer {
  padding: 0 0 100px 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #fff;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

header, footer, section, main {
  margin: 100px auto 100px auto;
}

section, footer {
  padding: 50px 0;
}
section h2, footer h2 {
  text-align: center;
  margin-bottom: 50px;
}

.btn__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 60px;
  background-color: #EBA83A;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  border-radius: 15px;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
  cursor: pointer;
}
.btn__primary:hover {
  background-color: #094067;
  color: #fff;
}

.btn__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #5F6C7B;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}
.btn__secondary:hover {
  background-color: #094067;
  color: #fff;
  font-weight: 700;
}

.btn__third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  border-radius: 15px;
  text-align: center;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}
.btn__third:hover {
  background-color: #EBA83A;
  color: #fff;
  border: none;
}

@media screen and (max-width: 1440px) {
  header, main, section, footer {
    padding: 0 0 80px 0;
  }
  .btn__primary {
    width: 250px;
  }
  .btn__secondary {
    width: 150px;
  }
  .btn__third {
    height: 50px;
  }
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  .container {
    width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  .btn__primary {
    font-size: 16px;
    width: 200px;
    height: 50px;
  }
  .btn__secondary {
    font-size: 16px;
    width: 130px;
    height: 50px;
  }
  .btn__third {
    font-size: 16px;
    height: 45px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  .container {
    width: 750px;
  }
}
@media screen and (max-width: 768px) {
  header, main, section, footer {
    padding: 0 0 50px 0;
  }
  .btn__primary {
    font-size: 14px;
    border-radius: 10px;
    width: 180px;
  }
  .btn__secondary {
    font-size: 14px;
    border-radius: 10px;
    width: 110px;
  }
  .btn__third {
    font-size: 14px;
    border-radius: 10px;
    width: 150px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  .container {
    width: 450px;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  .container {
    width: 300px;
  }
}
nav {
  position: fixed;
  width: 100%;
  padding: 40px 0;
  z-index: 10;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
  -webkit-animation-name: fadeInTop;
          animation-name: fadeInTop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
}
nav.sticky {
  background-color: #D8EEFE;
}

@-webkit-keyframes fadeInTop {
  from {
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  from {
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.toggle-menu {
  display: none;
}

.mobile__nav {
  display: none;
}

.dropdown {
  position: relative;
}
.dropdown button {
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #5F6C7B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}
.dropdown button:hover {
  color: #EBA83A;
}
.dropdown button svg {
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}
.dropdown button.active {
  color: #EBA83A;
}
.dropdown button.active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dropdown button.active ~ ul {
  max-height: 98.5px;
  -webkit-box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.011), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.016), 12.5px 12.5px 10px rgba(0, 0, 0, 0.02), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.024), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.029), 100px 100px 80px rgba(0, 0, 0, 0.04);
          box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.011), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.016), 12.5px 12.5px 10px rgba(0, 0, 0, 0.02), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.024), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.029), 100px 100px 80px rgba(0, 0, 0, 0.04);
}
.dropdown ul {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  max-height: 0;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 5px);
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}
.dropdown ul li {
  cursor: pointer;
  color: #5F6C7B;
  padding: 5px 15px;
  font-size: 18px;
}
.dropdown ul li:hover {
  background-color: #e5e5e5;
}

@media screen and (max-width: 1440px) {
  .nav__menu {
    gap: 50px;
  }
  .menu__list {
    gap: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .nav__container {
    position: relative;
  }
  .nav__menu {
    display: none;
  }
  .toggle-menu {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4px;
  }
  .toggle-menu .bar {
    width: 100%;
    height: 2px;
    background-color: #094067;
    display: block;
    -webkit-transition: all ease-in-out 400ms;
    transition: all ease-in-out 400ms;
  }
  .toggle-menu.checked .bar:first-of-type {
    -webkit-transform: rotate(45deg) translateY(8px);
            transform: rotate(45deg) translateY(8px);
  }
  .toggle-menu.checked .bar:nth-child(2) {
    opacity: 0;
  }
  .toggle-menu.checked .bar:last-of-type {
    -webkit-transform: rotate(-45deg) translateY(-8px);
            transform: rotate(-45deg) translateY(-8px);
  }
  .mobile__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    text-align: center;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #D8EEFE;
    padding: 128px 0 24px 0;
    z-index: -1;
    -webkit-transition: all ease-in-out 400ms;
    transition: all ease-in-out 400ms;
  }
  .mobile__nav.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .mobile__nav .nav__link {
    display: block;
  }
  .mobile__nav li:not(.nav__link) button {
    font-size: 18px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
  }
  .mobile__nav li:not(.nav__link) button:nth-child(1) {
    padding-right: 20px;
  }
  .mobile__nav li:not(.nav__link) button:nth-child(2) {
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .nav__logo {
    width: 180px;
  }
}
@media screen and (max-width: 480px) {
  .nav__logo {
    width: 160px;
  }
  .toggle-menu {
    height: 14px;
  }
}
#contacts {
  scroll-margin: 100px;
}

footer {
  margin-bottom: 50px;
  padding: 0;
}

.footer__socials {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.footer__socials a {
  color: #094067;
}

.social__icons {
  width: 32px;
  height: 32px;
}

.footer__container h2 {
  margin-bottom: 30px;
}
.footer__container p {
  font-family: "Nunito", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
.footer__container a {
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}
.footer__container a:hover {
  color: #EBA83A;
}

.footer__info a {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}
.footer__info a:hover {
  color: #EBA83A;
}

@media screen and (max-width: 480px) {
  .footer__container h2 {
    margin-bottom: 20px;
  }
  .footer__container p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .footer__container a {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .footer__info a {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
#cities {
  scroll-margin: 100px;
}

.cities__container h2 {
  margin-bottom: 50px;
}

.cities__cards {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.city__card {
  width: 416px;
  height: 350px;
  position: relative;
  overflow: hidden;
}
.city__card a {
  position: absolute;
  top: 350px;
  left: 120px;
}
.city__card p {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}
.city__card img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.city__card:hover a {
  top: 250px;
}
.city__card:hover p {
  top: -100px;
}

@media screen and (max-width: 1440px) {
  .cities__cards {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .city__card {
    width: 376px;
    height: 316px;
  }
  .city__card a {
    left: 105px;
  }
  .city__card:hover a {
    top: 200px;
  }
  .city__card:hover p {
    top: -60px;
  }
}
@media screen and (max-width: 1024px) {
  .cities__cards {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 20px;
  }
  .city__card {
    width: 310px;
    height: 270px;
  }
  .city__card a {
    left: 73px;
  }
}
@media screen and (max-width: 768px) {
  .cities__cards {
    gap: 14px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .city__card {
    width: 280px;
    height: 220px;
  }
  .city__card p {
    font-size: 14px;
  }
  .city__card a {
    left: 61px;
  }
  .city__card:hover a {
    top: 140px;
  }
  .city__card:hover p {
    top: -40px;
  }
}
#reviews {
  scroll-margin: 100px;
}

.reviews {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-bottom: 50px;
}

.swiper-pagination-bullet-active {
  background-color: #EBA83A !important;
}

.slide {
  width: 1160px;
  margin: 0 auto;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #094067;
  border-radius: 15px;
}
.slide p {
  padding: 93px 160px 20px 160px;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  color: #fff;
}
.slide img {
  width: 250px;
  height: 540px;
  border-radius: 15px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #EBA83A;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #094067;
}

.btn__review {
  margin: 50px auto 0 auto;
}

@media screen and (max-width: 1440px) {
  .slide {
    width: 930px;
    height: 430px;
  }
  .slide p {
    padding: 80px 160px 20px 160px;
    font-size: 20px;
  }
  .slide img {
    width: 200px;
    height: 430px;
  }
}
@media screen and (max-width: 1024px) {
  .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 400px;
    height: 640px;
  }
  .slide p {
    padding: 15px 40px;
    font-size: 14px;
  }
  .slide img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 400px;
    height: 430px;
  }
}
@media screen and (max-width: 768px) {
  .slide {
    width: 360px;
    height: 600px;
  }
  .slide p {
    padding: 15px 30px;
    font-size: 12px;
  }
  .slide img {
    width: 360px;
    height: 400px;
  }
  .swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .slide {
    width: 300px;
    height: 620px;
  }
  .slide p {
    padding: 15px 30px;
    font-size: 12px;
  }
  .slide img {
    width: 320px;
    height: 420px;
  }
}
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  z-index: 22;
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}

.popup.active {
  -webkit-transform: translateY(0%) scale(100%);
          transform: translateY(0%) scale(100%);
}

.popup__bg.popup__close {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}

.popup__body {
  margin: auto;
  width: 630px;
  height: 400px;
  background-color: #fff;
  border-radius: 15px;
  padding: 24px;
  position: relative;
}
.popup__body h4 {
  font-size: 24px;
  width: 280px;
}

.popup__close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.popup__body-socials {
  margin: 81px 0 81px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.popup__body-socials-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 280px;
  height: 60px;
  border-radius: 15px;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}
.popup__body-socials-block p {
  color: #fff;
}
.popup__body-socials-block svg {
  fill: #fff;
}
.popup__body-socials-block:hover {
  background-color: #094067;
}

.popup__body-socials-telegram {
  background-color: #3EB9F6;
}

.popup__body-socials-whatsapp {
  background-color: #29E64E;
}

.popup__body-socials-instagram {
  background-color: #C72F6E;
}

.popup__body-socials-telephone {
  background-color: #094067;
}

@media screen and (max-width: 1024px) {
  .popup__body {
    width: 530px;
    height: 300px;
    padding: 20px;
  }
  .popup__close {
    top: 20px;
    right: 20px;
  }
  .popup__body-socials {
    margin: 50px 0 50px 0;
    gap: 20px;
  }
  .popup__body-socials-block {
    gap: 20px;
    width: 220px;
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .popup__body {
    width: 450px;
    height: 400px;
    padding: 20px;
  }
  .popup__body h4 {
    font-size: 18px;
  }
  .popup__body-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0 30px 0;
  }
}
@media screen and (max-width: 480px) {
  .popup__body {
    width: 300px;
  }
  .popup__body h4 {
    width: 180px;
  }
}
.main__container {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 560px;
}
.main__info p {
  line-height: 34px;
}

.main__info-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.main__img img {
  border-radius: 15px;
  width: 630px;
  height: 430px;
}

#about {
  scroll-margin: 100px;
}

.about {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #D8EEFE;
}

.about__cards {
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  -ms-grid-columns: 1fr 24px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.about__card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 400px;
  background-color: #fff;
  padding: 24px;
  border-radius: 15px;
}
.about__card h3 {
  margin-bottom: 20px;
}
.about__card p {
  width: 600px;
  font-family: "Nunito", sans-serif;
  line-height: 167%;
}

@media screen and (max-width: 1440px) {
  .main__info {
    width: 500px;
  }
  .main__img img {
    width: 470px;
    height: 323px;
  }
  .about__container h2 {
    padding-top: 50px;
  }
  .about__cards {
    -ms-grid-columns: 1fr 18px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
  }
  .about__card {
    height: 500px;
    padding: 30px;
  }
  .about__card p {
    width: 430px;
  }
}
@media screen and (max-width: 1024px) {
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
  .main__info {
    width: 500px;
    text-align: center;
  }
  .main__info-buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
  .about__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 18px;
  }
  .about__card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .about__card p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (max-width: 768px) {
  .main__container {
    padding-top: 150px;
    gap: 20px;
  }
  .main__info {
    gap: 20px;
    width: 450px;
  }
  .main__img img {
    width: 370px;
    height: 300px;
  }
  .main__info-buttons {
    gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .main__img img {
    width: 280px;
    height: 240px;
  }
  .main__info {
    width: 300px;
  }
  .about__card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 18px;
  }
  .about__card p {
    font-size: 14px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}