@import "imports.scss";
nav {
  top: 0;
}
.forms__container {
  padding-top: 200px;
  h3 {
    margin-top: 70px;
    margin-bottom: 30px;
    width: 950px;
    line-height: 160%;
  }
  p {
    width: 630px;
    line-height: 160%;
  }
}
.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 70px;
}
.options__item {
  display: flex;
}
.options__label {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  p {
    width: fit-content;
  }
}
.stars {
  width: fit-content;
}
.form__item {
  margin-top: 30px;
}
.form__input {
  border: 2px solid $main_color;
  width: 740px;
  height: 170px;
  padding: 20px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  color: $paragraph_color;
}
.checkbox {
  margin-bottom: 30px;
}
.checbox__label {
  transition: $transition;
  a {
    color: $secondary_color;
    &:hover {
      text-decoration: underline;
    }
  }
}

#formMessage-2 {
  margin-bottom: 50px;
}
#formMessage-3 {
  width: 400px;
  padding: 10px;
  height: 50px;
  font-size: 18px;
}
#date {
  width: 200px;
  height: 50px;
  margin-bottom: 50px;
}
input {
  cursor: pointer;
  &:focus {
    border: 2px solid $secondary_color;
  }
}
textarea {
  &:focus {
    border: 2px solid $secondary_color;
  }
}

@media screen and (max-width: 1440px) {
  .forms__container {
    padding-top: 150px;
    h1 {
      font-size: 48px;
    }
    h3 {
      margin-top: 50px;
      margin-bottom: 30px;
      width: 950px;
      font-size: 32px;
    }
  }
  footer {
    h2 {
      font-size: 38px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .forms__container {
    h1 {
      font-size: 38px;
    }
    h3 {
      width: 700px;
    }
  }
  .options {
    margin-bottom: 50px;
  }
  .form__item {
    margin-top: 30px;
  }
}

@media screen and (max-width:768px) {
  .forms__container {
    h1 {
      font-size: 34px;
    }
    h3 {
      font-size: 28px;
      width: 500px;
    }
    p {
      width: 450px;
    }
  }
  .options__label {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    p {
      width: fit-content;
    }
  }
  .stars {
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .form__input {
    width: 440px;
    height: 170px;
    padding: 14px;
    font-size: 18px;
  }
  footer {
    h2 {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 480px) {
  .forms__container {
    h1 {
      font-size: 26px;
    }
    h3 {
      font-size: 20px;
      width: 280px;
    }
    p {
      width: 300px;
    }
  }
  footer {
    h2 {
      font-size: 24px;
    }
  }
  .form__input {
    width: 300px;
  }
}